services:
  backend:
    build: ./backend
    ports:
      - "3001:5000"
    volumes:
      - ./backend:/usr/src/app
    environment:
      - NODE_ENV=development

  frontend:
    build: ./frontend
    ports:
      - "3002:80"
    depends_on:
      - backend

  simulator:
    build: ./simulator
    ports:
      - "4000:4000"
    volumes:
      - ./simulator:/usr/src/app
    depends_on:
      - backend
