version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "3001:5000"
    volumes:
      - ./backend:/usr/src/app
    env_file:
      - ./backend/.env
    environment:
      - NODE_ENV=development
      - MONGO_URI=mongodb://mongo:27017/elsparkcyklar
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    ports:
      - "3002:80"
    depends_on:
      - backend

  simulator:
    build: ./simulator
    ports:
      - "4000:4000"
    volumes:
      - ./simulator:/usr/src/app
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: elsparkcyklar-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
