/* Container */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
    width: 100%;
}

body {
    height: 100%;
    min-height: 100vh;
    background-color: #9db3a3;
}

.main {
    padding-bottom: 4rem;
    width: 100%;
    height: 100%;
    color: #fff;
}

.container {
    padding: 12px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    line-height: 1.2;
    font-size: 1.2rem;
}

.router-outlet {
    width: 100%;
    min-height: 78vh;
    margin-top: 11vh;
    margin-bottom: 12vh;
}

.logo {
    width: 4rem;
    padding: 0.7em;
    padding-right: 0;
    float: left;
}

.wrapper {
    min-height: 100vh;
}

.map_view {
    height: 100%;
    width: 100%;
}

.map-title {
    height: 15;
    padding: 5px;
    text-align: center;
    color: #333;
}

.header {
    background-color: #254133;
    border-bottom: solid 1px #13211a;
    width: 100%;
    height: 11vh;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 99;
}

.title-div {
    padding: 0.6em;
}

.header h1 {
    padding: 0.1em;
    padding-left: 0.4em;
    padding-top: 0.4em;
    font-size: 1.3rem;
    display: block;
}

.logodiv {
    text-align: center;
    padding-top: 4rem;
}

.margin-div {
    margin: 1em;
}

.margin-div h1 {
  margin-bottom: 1em;
  width: 100%;
}


.main-title {
    display: inline-block;
    margin-top: 10px;
}



/* typography */

body {
    font-family: 'Merriweather', sans-serif;
}


h1,
h2,
h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

h5 {
    padding-top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 100%;
}

p {
    font-size: 1.4rem;
}

h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    float: left;
}

h2 {
    font-size: 1.7rem;
    padding: 0.7rem;
}

h4 {
    font-size: 1.5rem;
    padding: 0.7rem;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}

h2 {
    margin-bottom: 0.6rem;
}

h4 {
    margin-bottom: 0.2rem;
    margin-top: 1.8rem;
    line-height: 1.4;
}

h4:first-of-type {
    margin-top: 0.6rem;
}

p {
    margin-top: 0.2rem;
    line-height: 1.4;
}

span {
    margin-top: 0.2rem;
    line-height: 1.4;
}



/* animation */




/* button */

.blue-button,
.green-button,
.rent-button {
    border-radius: 20px;
    color: #fff;
    text-align: center;
    height: 40px;
    width: 100%;
    padding: 12px;
    display: block;
    margin-bottom: 1em;
    border: none;
    text-decoration: none;
    background-color: #254133;
}

.rent-button {
    margin-top: 5em;
}

.blue-button {
    background-color: #23434e;
}

.logout-button {
    float: right;
    padding: 0.4em;
    background-color: #fcf2e8;
    border: 0.5px solid #454e49;
    border-radius: 10px;
}

.button-div {
    padding-top: 15px;
    padding-left: 15px;
    height: 50px;
}



/* forms */

label,
input,
select,
textarea {
    display: block;
}

input,
select,
textarea {
    margin-bottom: 1.2rem;
    font-size: 1rem;
    padding: 12px;
    width: 100%;
    background-color: #dce2de;
    color: rgb(45, 43, 43);
    border: 1px solid rgba(218, 213, 213, 0.723);
    border-radius: 8px;
}

label {
    margin-top: 1rem;
    font-size: small;
    padding-bottom: 3px;
}

form {
    padding: 10px;
    margin: 2px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(42, 40, 40) inset !important;
    -webkit-text-fill-color: white !important;
}

.add-label {
    font-size: x-large;
    text-align: center;
    padding-bottom: 20px;
}

.add-input {
    border-radius: 20px;
    border: none;
}


/* navigation */

 .bottom-nav {
    height: 11vh;
    color: #fff;
    border-top: solid 1px #13211a;
    overflow: hidden;
    background-color: #254133;
    width: 100%;
    padding-top: 0.1rem;
    padding-bottom: 0.8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-family: 'Source Sans Pro', sans-serif;
    position:fixed;
    bottom:0;
}

.bottom-nav a {
    text-align: center;
    float: left;
    display: block;
    text-decoration: none;
    color: #fff;
    margin-top: 0.5em;
}

.nav_img {
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.nav_text {
    display: block;
    text-align: center;
    width: 100px;
    font-size: 1rem;
}

.inactive, .active{
    border-radius: 5px;
    height: 3.5em;
    padding: 0.4em;
}

.active {
    background-color: #486f5c;
}


/* Kort */
.card {
  background: #fcf2e8;
  border-radius: 1rem;
  padding: 1rem 1.25rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 3px rgba(15, 23, 42, 0.08);
}

.card p {
    font-size: 1.2rem;
}
